$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
/*}*/


/* Cards */

$base-color: rgb(50,50,50);
$primary: rgb(50,100,100);

$physics: rgb(150,100,150);
$literature: rgb(100,150,150);
$peace: rgb(150,150,100);
$chemistry: rgb(150,100,100);
$economics: rgb(100,150,100);
$medicine: rgb(50,100,150);

@import url(https://fonts.googleapis.com/css?family=Codystar);

.heroines_logo {
    font-family: 'Codystar', serif;
    font-size: 1.75em;
    margin: 0 5px 0 0;
    color: $primary;
}

.heroines_tagline {
    font-family: 'Noto Sans', sans;
    font-size: 0.5em;
    text-transform: uppercase;
    color: rgb(200,200,200);
}

.heroines_filter {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    margin: 0 0 20px 0;
    padding: 20px;
    background-color: lighten($base-color,75%);
    border-top: 1em solid lighten($base-color,60%);
    color: $base-color;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heroines_filter_item {
    flex-basis: 240px;
    margin: 10px;
    flex-grow: 1;
}

.heroines_stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heroines_card {
    font-family: 'Noto Serif', 'Arial', sans-serif;
    margin: 5px;
    padding: 10px;
    display: inline;
    // width: 240px;
    flex-basis: 240px;
    }

 .card_Literature{
    background-color: lighten($literature,20%);
    border-top: 1em solid $literature;   
 }
 
 .card_Physics {
    background-color: lighten($physics,20%);
    border-top: 1em solid $physics;  
 }
 
 .card_Chemistry {
    background-color: lighten($chemistry,20%);
    border-top: 1em solid $chemistry;  
 }   

 .card_Peace {
    background-color: lighten($peace,20%);
    border-top: 1em solid $peace;  
 }   

 .card_Economics {
    background-color: lighten($economics,20%);
    border-top: 1em solid $economics;  
 }   

 .card_Medicine {
    background-color: lighten($medicine,20%);
    border-top: 1em solid $medicine;  
 }   


.award {
    padding: 5px;
    margin: 5px 0;
    color: #fff;
    text-align: center;
    display: block; 
}

.award_Literature {
    background-color: lighten($literature,10%);
    border-bottom: 0.25em solid $literature;
}

.award_Peace {
    background-color: lighten($peace,10%);
    border-bottom: 0.25em solid $peace;
}

.award_Chemistry {
    background-color: lighten($chemistry,10%);
    border-bottom: 0.25em solid $chemistry;
}

.award_Physics {
    background-color: lighten($physics,10%);
    border-bottom: 0.25em solid $physics;
}

.award_Medicine {
    background-color: lighten($medicine,10%);
    border-bottom: 0.25em solid $medicine;
}

.award_Economics {
    background-color: lighten($economics,10%);
    border-bottom: 0.25em solid $economics;
}

.fullname {
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    display: block;
}

.fullname_Literature {
    background-color: #fff;
    border-bottom: 0.25em solid $literature;
    color: $literature;
}

.fullname_Chemistry {
    background-color: #fff;
    border-bottom: 0.25em solid $chemistry;
    color: $chemistry;
}

.fullname_Physics {
    background-color: #fff;
    border-bottom: 0.25em solid $physics;
    color: $physics;
}

.fullname_Peace {
    background-color: #fff;
    border-bottom: 0.25em solid $peace;
    color: $peace;
}

.fullname_Medicine {
    background-color: #fff;
    border-bottom: 0.25em solid $medicine;
    color: $medicine;
}

.fullname_Economics {
    background-color: #fff;
    border-bottom: 0.25em solid $economics;
    color: $economics;
}

.portrait {
    padding: 5px;
    margin: 5px 0;
    background-color: #fff;
    }

.desc {
    padding: 10px;
    margin: 5px 0;
    height: 150px;
    text-align: left;
    display: block;
}

.desc_Literature {
    background-color: lighten($literature, 40%);
    border-bottom: 0.25em solid $literature;
    color: $literature;
}

.desc_Physics {
    background-color: lighten($physics, 40%);
    border-bottom: 0.25em solid $physics;
    color: $physics;
}

.desc_Chemistry {
    background-color: lighten($chemistry, 40%);
    border-bottom: 0.25em solid $chemistry;
    color: $chemistry;
}

.desc_Economics {
    background-color: lighten($economics, 40%);
    border-bottom: 0.25em solid $economics;
    color: $economics;
}

.desc_Medicine {
    background-color: lighten($medicine, 40%);
    border-bottom: 0.25em solid $medicine;
    color: $medicine;
}

.desc_Peace {
    background-color: lighten($peace, 40%);
    border-bottom: 0.25em solid $peace;
    color: $peace;
}


.heroines_select {
    border: 0.15em solid lighten($base-color,50%);
    background: none;
    color: $base-color;
    width: 180px;
    display: block;
}

.heroines_select:focus {
    border: 0.15em solid lighten($base-color,20%); 
}