<div class="row marketing">
    <div class="col-lg-6">
        <h4>About the Project</h4>
        <p>There are so many great scientists out there, and many of them are women, although by far not enough. This is mostly because sciences have traditionally not been viewed as a good career choice for women. And although we have finally reached a point in the so called first world where the issue of women being barred from science positions and academics is on the table and being addressed on the highest levels of society, it's still not natural for women to become interested in sciences and pursuing a career they feel the most talented or qualified for.<br><br></p>
    </div>
</div>