      <div class="heroines_filter">
          <div class="row">
              <div class="col-md-3 heroines_filter_item">
              <label class="control-label">Nation <b>{{selectNation.doc.nation}}</b></label>
              <select class="form-control heroines_select" ng-model="selectNation" ng-options="p.doc.nation for p in profile.persons">
                <option value="profile">All Nations</option>
              </select>
              </div>
              <div class="col-md-3 heroines_filter_item">
              <label class="control-label">Year <b>{{selectYear.doc.year}}</b></label>
              <select class="form-control heroines_select" ng-model="selectYear" ng-options="p.doc.year for p in profile.persons">
                  <option value="">All Years</option>
              </select>
              </div>
              <div class="col-md-3 heroines_filter_item">
              <label class="control-label">Discipline <b>{{selectDiscipline.doc.discipline}}</b></label>
              <select class="form-control heroines_select" ng-model="disciplines_model" ng-options="d.discipline for d in disciplines">
                  <option ng-value="profile">All Disciplines</option>
              </select>
              </div>
          </div>
      </div>
      
<div class="container heroines_stack">
      
      <div class="heroines_card card_{{p.doc.discipline}} col-sm-3" ng-repeat="p in disciplines_model.persons">
          <!-- PORTRAIT & NAME -->
          <div class="row">
              <div class="col-sm-12">
                <img src="/images/portraits/portrait_{{p.doc.name}}.jpg" class="portrait col-sm-12" alt="...">
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="fullname fullname_{{p.doc.discipline}}">
                      <h4>{{p.doc.first_name}}<br><strong>{{p.doc.last_name}}</strong></h4>
                  </div>
              </div>
          </div>
          <div class="row">                  
            <div class="col-sm-12">
                  <div class="desc desc_{{p.doc.discipline}}">
                      <p class="card-desc">{{p.doc.desc}}</p>
                  </div>
              </div>
              </div>
          <div class="row">
             <div class="col-sm-12">
                  <div class="award award_{{p.doc.discipline}}">
                      <p><span class="label_{{p.doc.discipline}}">Year</span> {{p.doc.year}}</p>
                  </div>
                  <div class="award award_{{p.doc.discipline}}">
                      <p><span class="label_{{p.doc.discipline}}">Nation</span> {{p.doc.nation}}</p>
                  </div>
                  <div class="award award_{{p.doc.discipline}}">
                      <p><span class="label_{{p.doc.discipline}}">Discipline</span> {{p.doc.discipline}}</p>
                  </div>                  
             </div>
          </div>
    </div>    
</div>